mixin headerLogo(logo) 
    .top-navigation.d-flex.flex-wrap
        .logo 
            a(href="index.html")
                img(src="img/logo.svg", alt="logo")
        .cellphone.d-flex.flex-between
            a.number(href="tel:+380973021025") 097 302 1025
            a(href="#") UA

-
    let cardsMenuInfo = {
        general: {
            img: "img/generalCover.jpg",
            alt: "Демонстрація головної сторінки Hashtag Developers",
            title: "ГОЛОВНА",
            href: "index.html",
        },
        aboutUs: {
            img: "img/cover.jpg",
            alt: "Демонстрація сторінки Про нас Hashtag Developers",
            title: "Про нас", 
            href: "#",
        },
        contacts: {
            img: "img/cover.jpg",
            alt: "Демонстрація сторінки Контакти Hashtag Developers",
            title: "Контакти",
            href: "contacts.html",
        },
        portfolio: {
            img: "img/cover.jpg",
            alt: "Демонстрація сторінки Портфоліо Hashtag Developers",
            title: "Портфоліо",
            href: "portfolio.html", 
        },
        comand: {
            img: "img/cover.jpg",
            alt: "Демонстрація сторінки Команда Hashtag Developers",
            title: "Команда",
            href: "#",
        },
    }

mixin cardsMenuInfo(cardsInfo)
    .menuNavCard 
        a(href = cardsInfo.href).cardHref
            .cardTitle
                p.menuNavText #{cardsInfo.title}
            .cardImage 

mixin footerContact(footer) 
    .bottom-contacts.d-flex
        h3.footer-text Ти ще досі не телефонуєш нам?
        p 
            a.bottom-cell.arrow(href="#") контакти
    .copyright
        p Copyright © 2023. Hashtag Developers

-
    let sliderLookAll = {
        img1: {
            img: "img/omegadev.png",
            alt: "Демонстрація сторінки omegadev",
            titleBlue: "Omega Dev",
            titleNormal: " | Development Services",
            href: "#",
        },
        img2: {
            img: "img/wrau.png",
            alt: "Демонстрація сторінки wrau",
            titleBlue: "wrau",
            titleNormal: " | Асоціація переробки відходів",
            href: "#",
        },
        img3: {
            img: "img/highway.png",
            alt: "Демонстрація сторінки highway",
            titleBlue: "highway",
            titleNormal: " | Інженерно - будівельна компанія",
            href: "#",
        },
        img4: {
            img: "img/k-yarmarock.png",
            alt: "Демонстрація сторінки k-yarmarock",
            titleBlue: "k-yarmarock",
            titleNormal: " | Продаж килимів",
            href: "#",
        },
    }

mixin sliderLookAll(slider, color)
    a(href=slider.href).decor-none
        .card-slider
            img(src=slider.img, alt=slider.alt)
            h3.title-h3(class=color)
                span.blue-text= slider.titleBlue
                | #{slider.titleNormal}

-
    let sliderLookSite = {
        img1: {
            img: "img/omegadev.png",
            alt: "Демонстрація сторінки omegadev",
            titleBlue: "Omega Dev",
            titleNormal: " | Development Services",
            href: "#",
        },
        img2: {
            img: "img/wrau.png",
            alt: "Демонстрація сторінки wrau",
            titleBlue: "wrau",
            titleNormal: " | Асоціація переробки відходів",
            href: "#",
        },
        img3: {
            img: "img/highway.png",
            alt: "Демонстрація сторінки highway",
            titleBlue: "highway",
            titleNormal: " | Інженерно - будівельна компанія",
            href: "#",
        },
        img4: {
            img: "img/k-yarmarock.png",
            alt: "Демонстрація сторінки k-yarmarock",
            titleBlue: "k-yarmarock",
            titleNormal: " | Продаж килимів",
            href: "#",
        },
    }

mixin sliderLookSite(slider)
    a(href=slider.href).decor-none
        .card-slider
            img(src=slider.img, alt=slider.alt)
            h3.title-h3
                span.blue-text= slider.titleBlue
                | #{slider.titleNormal}


-
    let sliderLookLogo = {
        img1: {
            img: "img/annatoys.png",
            alt: "Демонстрація сторінки annatoys",
            titleBlue: "Anna toys",
            titleNormal: " | магазин іграшок",
            href: "#",
        },
        img2: {
            img: "img/farmital.png",
            alt: "Демонстрація сторінки farmital",
            titleBlue: "farmital",
            titleNormal: " | інтернет - аптека",
            href: "#",
        },
        img3: {
            img: "img/association.png",
            alt: "Демонстрація сторінки association",
            titleBlue: "association of renewable energy",
            titleNormal: " | асоціація ",
            href: "#",
        },
        img4: {
            img: "img/vzuteviymagnat.png",
            alt: "Демонстрація сторінки vzuteviymagnat",
            titleBlue: "взуттєвий магнат",
            titleNormal: " | магазин взуття",
            href: "#",
        },

        img5: {
            img: "img/coffe.png",
            alt: "Демонстрація сторінки vzuteviymagnat",
            titleBlue: "banoffee",
            titleNormal: " | кавʼярня",
            href: "#",
        },

        img6: {
            img: "img/waste.png",
            alt: "Демонстрація сторінки waste",
            titleBlue: "waste recycling association of ukraine",
            titleNormal: " | Асоціація переробки України",
            href: "#",
        },
    }

mixin sliderLookLogo(slider2)
    a(href=slider2.href).decor-none
        .card-slider
            img(src=slider2.img, alt=slider2.alt)
            h3.title-h3
                span.blue-text= slider2.titleBlue
                | #{slider2.titleNormal}

-
    let sliderLookCard = {
        img1: {
            img: "img/magnatCar.png",
            alt: "взуттєвий магнат",
            titleBlue: "взуттєвий магнат",
            titleNormal: " | магазин взуття",
            href: "#",
        },
        img2: {
            img: "img/lisacaron.png",
            alt: "lisacaron",
            titleBlue: "lisa carron",
            titleNormal: " | дизайнер інтерʼєру",
            href: "#",
        },
        img3: {
            img: "img/one-above.png",
            alt: "Демонстрація сторінки one above.png",
            titleBlue: "one above",
            titleNormal: " | туристична агенція",
            href: "#",
        },
        img4: {
            img: "img/verazo.jfif",
            alt: "Демонстрація сторінки vzuteviymagnat",
            titleBlue: "verazo",
            titleNormal: " | графічний дизайнер",
            href: "#",
        },
    }

mixin sliderLookCard(slider3)
    a(href=slider3.href).decor-none
        .card-slider
            img(src=slider3.img, alt=slider3.alt)
            h3.title-h3
                span.blue-text= slider3.titleBlue
                | #{slider3.titleNormal}



-
    let sliderLookReklamCreat = {
        img1: {
            img: "img/small-genius-laboratory.png",
            alt: "small-genius-laboratory.png",
            titleBlue: "лабораторія маленьких геніїв",
            titleNormal: " | дитячий садок",
            href: "#",
        },
        img2: {
            img: "img/small-genius-laboratory1.png",
            alt: "small-genius-laboratory1.png",
            titleBlue: "лабораторія маленьких геніїв",
            titleNormal: " | дитячий садок",
            href: "#",
        },
        img3: {
            img: "img/small-genius-laboratory2.png",
            alt: "small-genius-laboratory1.png",
            titleBlue: "лабораторія маленьких геніїв",
            titleNormal: " | дитячий садок",
            href: "#",
        },
        img4: {
            img: "img/small-genius-laboratory.png",
            alt: "small-genius-laboratory1.png",
            titleBlue: "лабораторія маленьких геніїв",
            titleNormal: " | дитячий садок",
            href: "#",
        },
        img5: {
            img: "img/small-genius-laboratory4.png",
            alt: "small-genius-laboratory4.png",
            titleBlue: "лабораторія маленьких геніїв",
            titleNormal: " | дитячий садок",
            href: "#",
        },
        img6: {
            img: "img/magnat-creat.png",
            alt: "magnat-creat.png",
            titleBlue: "Взуттєвий магнат",
            titleNormal: " | магазин взуття",
            href: "#",
        },
        img7: {
            img: "img/hashtag-creat.png",
            alt: "hashtag-creat.png",
            titleBlue: "hashtag",
            titleNormal: " | it академія",
            href: "#",
        },
        img8: {
            img: "img/hashtag-creat-2.png",
            alt: "hashtag-creat-2.png",
            titleBlue: "hashtag",
            titleNormal: " | it академія",
            href: "#",
        },
        img9: {
            img: "img/medikal-world-creat.png",
            alt: "medikal-world-creat.png",
            titleBlue: "медикал світ",
            titleNormal: " | приватна поліклініка",
            href: "#",
        },
    }

mixin sliderLookReklamCreat(slider4)
    a(href=slider4.href).decor-none
        .card-slider
            img(src=slider4.img, alt=slider4.alt)
            h3.title-h3
                span.blue-text= slider4.titleBlue
                | #{slider4.titleNormal}

-
    let ourTeam = {
        director: {
            name: "дмитро пиріжок -",
            position: "Director"
        },
        designer: {
            name: "анастасія костроміна - ",
            position: "Designer"
        },
        developer1: {
            name: "Ярослав - ",
            position:"Developer"
        },
        developer2: {
            name: "Оля - ",
            position:"Developer"
        },
        developer3: {
            name: "Наташа - ",
            position:"Developer"
        }
    }

mixin ourTeam(team)
    .d-flex.team
        p.white.team-name #{team.name}
        p.team-position #{team.position}
    hr.team-hr

