mixin headerLogo(logo)
    .top-navigation.d-flex.flex-wrap
        .logo
            a(href="index.html")
                img(src="img/logo.svg", alt="altText")
        .cellphone.d-flex.flex-between
            a.number(href="tel:+380971647256") 0971647256
            //- a.language-switch(href="index.html") UA

mixin menu(page)
    .menuButton#menuBtn
        svg(xmlns="http://www.w3.org/2000/svg")
            circle(fill="rgba(36, 215, 255, 1)", cx="67", cy="67", r="50")
            text(x="20")
                textPath(class="path", xlink:href="#circlePath")
                    tspan(font-weight="500", font-size="17", fill="#fff") Меню
            defs
                path(id="circlePath", d="M 10 67, Q10,10 67,10")
    div.menuOpen#menuOpen
        .cardsOverflow.d-flex.wrapper.flex-between
            if page === 'index'
                .active-page
                        +cardsMenuInfo(cardsMenuInfo.general)
                +cardsMenuInfo(cardsMenuInfo.aboutUs)
                +cardsMenuInfo(cardsMenuInfo.portfolio)
                +cardsMenuInfo(cardsMenuInfo.contacts)
            else if page === 'about'
                +cardsMenuInfo(cardsMenuInfo.general)
                .active-page
                        +cardsMenuInfo(cardsMenuInfo.aboutUs)
                +cardsMenuInfo(cardsMenuInfo.portfolio)
                +cardsMenuInfo(cardsMenuInfo.contacts)
            else if page === 'portfolio'
                +cardsMenuInfo(cardsMenuInfo.general)
                +cardsMenuInfo(cardsMenuInfo.aboutUs)
                .active-page
                        +cardsMenuInfo(cardsMenuInfo.portfolio)
                +cardsMenuInfo(cardsMenuInfo.contacts)
            else if page === 'contacts'
                +cardsMenuInfo(cardsMenuInfo.general)
                +cardsMenuInfo(cardsMenuInfo.aboutUs)
                +cardsMenuInfo(cardsMenuInfo.portfolio)
                .active-page
                        +cardsMenuInfo(cardsMenuInfo.contacts)


mixin headerLogoEng(logoEng)
    .top-navigation.d-flex.flex-wrap
        .logo
            a(href="index.html")
                img(src="img/logo.svg", alt="altText")
        .cellphone.d-flex.flex-between
            a.number(href="tel:+380971647256") 0971647256
            a.language-switchEng(href="indexEng.html") ENG
-
    let cardsMenuInfo = {
        general: {
            img: "img/generalCover.jpg",
            alt: "Демонстрація головної сторінки Hashtag Developers",
            title: "ГОЛОВНА",
            href: "index.html",
            class: "general"
        },
        aboutUs: {
            img: "img/cover-about.webp",
            alt: "Демонстрація сторінки Про нас Hashtag Developers",
            title: "Про нас", 
            href: "aboutus.html",
            class: "aboutUs"
        },
        contacts: {
            img: "img/cover.jpg",
            alt: "Демонстрація сторінки Контакти Hashtag Developers",
            title: "Контакти",
            href: "contacts.html",
            class: "contacts-card"
        },
        portfolio: {
            img: "img/cover.jpg",
            alt: "Демонстрація сторінки Портфоліо Hashtag Developers",
            title: "Портфоліо",
            href: "portfolio.html", 
            class: "portfolio-card"
        }
    }

mixin cardsMenuInfo(cardsInfo)
    .menuNavCard 
        a(href = cardsInfo.href).cardHref
            .cardTitle
                p.menuNavText #{cardsInfo.title}
            .cardImage(class=cardsInfo.class)

mixin footerContact(footer) 
    .bottom-contacts.d-flex
        h3.footer-text Ти ще досі не телефонуєш нам?
        p 
            a.bottom-cell.arrow(href="contacts.html") контакти
    .copyright
        p Copyright © since 2018. Hashtag Developers

//- -
//-     let sliderLookAll = {
//-         img1: {
//-             img: "img/omegadev.png",
//-             alt: "Демонстрація сторінки omegadev",
//-             titleBlue: "Omega Dev",
//-             titleNormal: " | Development Services",
//-             href: "omega.html",
//-         },
//-         img2: {
//-             img: "img/wrau.png",
//-             alt: "Демонстрація сторінки wrau",
//-             titleBlue: "wrau",
//-             titleNormal: " | Асоціація переробки відходів",
//-             href: "westrecycling.html"
//-         },
//-         img3: {
//-             img: "img/highway.jpg",
//-             alt: "Демонстрація сторінки highway",
//-             titleBlue: "highway",
//-             titleNormal: " | Інженерно - будівельна компанія",
//-             href: "highway.html",
//-         },
//-         img4: {
//-             img: "img/k-yarmarock.jpg",
//-             alt: "Демонстрація сторінки k-yarmarock",
//-             titleBlue: "k-yarmarock",
//-             titleNormal: " | Продаж килимів",
//-             href: "kyarmarok.html",
//-         },
//-     }

//- mixin sliderLookAll(slider, color)
//-     .card-slider
//-         a(href= slider.href)
//-         img(loading="lazy", src=slider.img, alt=slider.alt)
//-         h3.title-h3(class=color)
//-             span.blue-text= slider.titleBlue
//-             | #{slider.titleNormal}


-
    let sliderLookSite = {
        img1: {
            img: "img/omegadev.png",
            alt: "Демонстрація сторінки omegadev",
            titleBlue: "Omega Dev",
            titleNormal: " | Development Services",
            href: "omega.html",
        },
        img2: {
            img: "img/wrau.png",
            alt: "Демонстрація сторінки wrau",
            titleBlue: "wrau",
            titleNormal: " | Асоціація переробки відходів",
            href: "westrecycling.html",
            
        },
        img3: {
            img: "img/highway.jpg",
            alt: "Демонстрація сторінки highway",
            titleBlue: "highway",
            titleNormal: " | Інженерно - будівельна компанія",
            href: "highway.html",
        },
        img4: {
            img: "img/k-yarmarock.jpg",
            alt: "Демонстрація сторінки k-yarmarock",
            titleBlue: "k-yarmarock",
            titleNormal: " | Продаж килимів",
            href: "kyarmarok.html",
        },
    }

mixin sliderLookSite(slider, color)
    .card-slider
        a(href=slider.href)
        img(loading="lazy", src=slider.img, alt=slider.alt)
        h3.title-h3(class=color)
            span.blue-text= slider.titleBlue
            | #{slider.titleNormal}

-
    let sliderLookLogo = {
        img1: {
            img: "img/annatoys.png",
            alt: "Демонстрація сторінки annatoys",
            titleBlue: "Anna toys",
            titleNormal: " | магазин іграшок",
            href: "portfolio-logo.html",
        },
        img2: {
            img: "img/farmital.png",
            alt: "Демонстрація сторінки farmital",
            titleBlue: "farmital",
            titleNormal: " | інтернет - аптека",
            href: "portfolio-logo.html",
        },
        img3: {
            img: "img/association.png",
            alt: "Демонстрація сторінки association",
            titleBlue: "association of renewable energy",
            titleNormal: " | асоціація ",
            href: "#",
        },
        img4: {
            img: "img/vzuteviymagnat.png",
            alt: "Демонстрація сторінки vzuteviymagnat",
            titleBlue: "взуттєвий магнат",
            titleNormal: " | магазин взуття",
            href: "portfolio-logo.html",
        },

        img5: {
            img: "img/coffe.png",
            alt: "Демонстрація сторінки vzuteviymagnat",
            titleBlue: "banoffee",
            titleNormal: " | кавʼярня",
            href: "portfolio-logo.html",
        },

        img6: {
            img: "img/waste.png",
            alt: "Демонстрація сторінки waste",
            titleBlue: "waste recycling association of ukraine",
            titleNormal: " | Асоціація переробки України",
            href: "westrecycling.html"
        },
    }

mixin sliderLookLogo(slider2, isPortfolio)
    .card-slider
        a(href=slider2.href) 
        img(loading="lazy", src=slider2.img, alt=slider2.alt)
        h3.title-h3
            span.blue-text= slider2.titleBlue
            | #{slider2.titleNormal}

-
    let sliderLookCard = {
        img1: {
            img: "img/magnatCar.png",
            alt: "взуттєвий магнат",
            titleBlue: "взуттєвий магнат",
            titleNormal: " | магазин взуття",
            href: "portfolio-cards.html",
        },
        img2: {
            img: "img/lisacaron.png",
            alt: "lisacaron",
            titleBlue: "lisa carron",
            titleNormal: " | дизайнер інтерʼєру",
            href: "portfolio-cards.html",
        },
        img3: {
            img: "img/one-above.jpg",
            alt: "Демонстрація сторінки one above.png",
            titleBlue: "one above",
            titleNormal: " | туристична агенція",
            href: "portfolio-cards.html",
        },
        img4: {
            img: "img/verazo.jfif",
            alt: "Демонстрація сторінки vzuteviymagnat",
            titleBlue: "verazo",
            titleNormal: " | графічний дизайнер",
            href: "portfolio-cards.html",
        },
    }

mixin sliderLookCard(slider3)
    .card-slider
        a(href=slider3.href) 
        img(loading="lazy", src=slider3.img, alt=slider3.alt)
        h3.title-h3
            span.blue-text= slider3.titleBlue
            | #{slider3.titleNormal}

-
    let sliderLookReklamCreat = {
        img1: {
            img: "img/small-genius-laboratory.png",
            alt: "small-genius-laboratory.png",
            titleBlue: "лабораторія маленьких геніїв",
            titleNormal: " | дитячий садок",
            href: "portfolio-creatives.html",
        },
        img2: {
            img: "img/small-genius-laboratory1.png",
            alt: "small-genius-laboratory1.png",
            titleBlue: "лабораторія маленьких геніїв",
            titleNormal: " | дитячий садок",
            href: "portfolio-creatives.html",
        },
        img3: {
            img: "img/small-genius-laboratory2.jpg",
            alt: "small-genius-laboratory1.png",
            titleBlue: "лабораторія маленьких геніїв",
            titleNormal: " | дитячий садок",
            href: "portfolio-creatives.html",
        },
        img4: {
            img: "img/small-genius-laboratory.png",
            alt: "small-genius-laboratory1.png",
            titleBlue: "лабораторія маленьких геніїв",
            titleNormal: " | дитячий садок",
            href: "portfolio-creatives.html",
        },
        img5: {
            img: "img/small-genius-laboratory4.png",
            alt: "small-genius-laboratory4.png",
            titleBlue: "лабораторія маленьких геніїв",
            titleNormal: " | дитячий садок",
            href: "portfolio-creatives.html",
        },
        img6: {
            img: "img/magnat-creat.png",
            alt: "magnat-creat.png",
            titleBlue: "Взуттєвий магнат",
            titleNormal: " | магазин взуття",
            href: "portfolio-creatives.html",
        },
        img7: {
            img: "img/hashtag-creat.png",
            alt: "hashtag-creat.png",
            titleBlue: "hashtag",
            titleNormal: " | it академія",
            href: "portfolio-creatives.html",
        },
        img8: {
            img: "img/hashtag-creat-2.png",
            alt: "hashtag-creat-2.png",
            titleBlue: "hashtag",
            titleNormal: " | it академія",
            href: "portfolio-creatives.html",
        },
        img9: {
            img: "img/medikal-world-creat.png",
            alt: "medikal-world-creat.png",
            titleBlue: "медикал світ",
            titleNormal: " | приватна поліклініка",
            href: "portfolio-creatives.html",
        },
    }

mixin sliderLookReklamCreat(slider4)
    .card-slider
        a(href=slider4.href) 
        img(loading="lazy", src=slider4.img, alt=slider4.alt)
        h3.title-h3
            span.blue-text= slider4.titleBlue
            | #{slider4.titleNormal}

-
    let ourTeam =  [
        {
            name: "дмитро пиріжок",
            position: "Director"
        },
        {
            name: "анастасія костроміна",
            position: "Designer"
        },
        {
            name: "Оля Шутильова",
            position:"Front-end developer"
        },
        {
            name: "Аліна Заворотна",
            position:"Front-end developer"
        },
        {
            name: "Олександр Франчук",
            position:"Front-end developer"
        },
        {
            name: "Олександр Чешун",
            position:"Fullstack developer"
        },
        {
            name: "Олександр Гуцалюк",
            position:"Back-end developer"
        },
        {
            name: "Маріна Раїнчук",
            position:"SMM"
        },
        {
            name: "В'ячеслав Олійник",
            position:"SEO / google ADS"
        },
        {
            name: "Вадим Шутько",
            position:"Fullstack developer"
        },
        {
            name: "Сергій Плехно",
            position:"Fullstack developer"
        },
        {
            name: "Ілля Ільчук",
            position:"SEO"
        },
        {
            name: "Ігор Дікал",
            position:"Back-end developer"
        },
        {
            name: "Андрій Хіміч",
            position:"Front-end developer"
        },
        {
            name: "Андрій Сороковський",
            position:"Wordpress developer"
        },
        {
            name: "Влад Пташник",
            position:"Fullstack developer"
        },
    ]
    

mixin ourTeam()
    for team in ourTeam
        .d-flex.team
            p.white.team-name #{team.name} -
                span.team-position  #{team.position}
        hr.team-hr

