-
    let site = {
        omegadev: {
            header: "Landing page для",
            blueText: "«OmegaDev»",
            aboutCompany: "Компанія займається розробки ПЗ для приватних осіб, стартапів, малого та середнього бізнесу. Крім того, надають послуги IT-аутсорсингу.",
            img1: "img/omegadev.webp",
            alt1: "Представлення головної сторінки компанії OmegaDev",
            img2: "img/omegamain.webp",
            alt2: "OmegaDev головна",
            img3: "img/omegasecond.webp",
            alt3: "OmegaDev опис сайту",
            img4: "img/omegateam.webp",
            alt4: "OmegaDev команда працівників розробників",
            headerDescript1: "цей проект демонструє наші навички та досвід у розробці сайтів",
            descript1: "ми забезпечили повну оптимізацію сайту для пошукових систем, що дозволяє збільшити кількість відвідувачів та замовників.",
            headerDescript2: "landing page має зручний та інтуїтивно зрозумілий інтерфейс",
            descript2: "наша команда розробила проект з урахуванням потреб клієнта та потенційних покупців. Ми розробили інтуїтивно зрозумілий та зручний інтерфейс, що дозволяє клієнтам легко робити замовлення.",
            headerDescript3: "Задоволений клієнт - наш приорітет",
            descript3: "ми пишаємося тим, що наша робота допомогла клієнту досягти успіху та забезпечити якісний сервіс для своїх клієнтів.",
            btnBlue: "перейти",
            href1: "#",
            btnTransparent: "замовити",
            href2: "#"
        },
        westRecycling: {
            header: "сайт для компанії ",
            blueText: "«waste recycling association of ukraine» ",
            aboutCompany: "Компанія займається розробки ПЗ для приватних осіб, стартапів, малого та середнього бізнесу. Крім того, надають послуги IT-аутсорсингу.",
            img1: "img/wrau.webp",
            alt1: "Представлення головної сторінки компанії «waste recycling association of ukraine»",
            img2: "img/wraumain.webp",
            alt2: "головна «waste recycling association of ukraine»",
            img3: "img/wraupage.webp",
            alt3: "опис сайту «waste recycling association of ukraine»",
            img4: "img/wrausecond.webp",
            alt4: "опис сторінки «waste recycling association of ukraine»",
            img5: "img/wraucontact.webp",
            alt5: "контакти компанії «waste recycling association of ukraine»",
            headerDescript1: "цей проект демонструє наші навички та досвід у розробці сайтів",
            descript1: "ми забезпечили повну оптимізацію сайту для пошукових систем, що дозволяє збільшити кількість відвідувачів та замовників.",
            headerDescript2: "landing page має зручний та інтуїтивно зрозумілий інтерфейс",
            descript2: "наша команда розробила проект з урахуванням потреб клієнта та потенційних покупців. Ми розробили інтуїтивно зрозумілий та зручний інтерфейс, що дозволяє клієнтам легко робити замовлення.",
            headerDescript3: "Задоволений клієнт - наш приорітет",
            descript3: "ми пишаємося тим, що наша робота допомогла клієнту досягти успіху та забезпечити якісний сервіс для своїх клієнтів.",
            btnBlue: "перейти",
            href1: "#",
            btnTransparent: "замовити",
            href2: "#"
        },
        highWay: {
            header: "Landing page для «highway» ",
            blueText: "«highway»",
            aboutCompany: "Компанія займається розробки ПЗ для приватних осіб, стартапів, малого та середнього бізнесу. Крім того, надають послуги IT-аутсорсингу.",
            img1: "img/highway.webp",
            alt1: "Представлення головної сторінки компанії «highway»",
            img2: "img/highwaymain.webp",
            alt2: "головна «highway»",
            headerDescript1: "цей проект демонструє наші навички та досвід у розробці сайтів",
            descript1: "ми забезпечили повну оптимізацію сайту для пошукових систем, що дозволяє збільшити кількість відвідувачів та замовників.",
            headerDescript2: "landing page має зручний та інтуїтивно зрозумілий інтерфейс",
            descript2: "наша команда розробила проект з урахуванням потреб клієнта та потенційних покупців. Ми розробили інтуїтивно зрозумілий та зручний інтерфейс, що дозволяє клієнтам легко робити замовлення.",
            headerDescript3: "Задоволений клієнт - наш приорітет",
            descript3: "ми пишаємося тим, що наша робота допомогла клієнту досягти успіху та забезпечити якісний сервіс для своїх клієнтів.",
            btnBlue: "перейти",
            href1: "#",
            btnTransparent: "замовити",
            href2: "#"
        },
        carpet: {
            header: "інтернет - магазин для компанії ",
            blueText: "«килимовий ярмарок»",
            aboutCompany: "Компанія займається розробки ПЗ для приватних осіб, стартапів, малого та середнього бізнесу. Крім того, надають послуги IT-аутсорсингу.",
            img1: "img/carpet.webp",
            alt1: "Представлення головної сторінки компанії «килимовий ярмарок»",
            img2: "img/carpetmain.webp",
            img3: "img/carpetsecond.png",
            img4: "img/carpet3.png",
            img5: "img/carpetlast.png",
            alt2: "головна «килимовий ярмарок»",
            headerDescript1: "цей проект демонструє наші навички та досвід у розробці сайтів",
            descript1: "ми забезпечили повну оптимізацію сайту для пошукових систем, що дозволяє збільшити кількість відвідувачів та замовників.",
            headerDescript2: "landing page має зручний та інтуїтивно зрозумілий інтерфейс",
            descript2: "наша команда розробила проект з урахуванням потреб клієнта та потенційних покупців. Ми розробили інтуїтивно зрозумілий та зручний інтерфейс, що дозволяє клієнтам легко робити замовлення.",
            headerDescript3: "Задоволений клієнт - наш приорітет",
            descript3: "ми пишаємося тим, що наша робота допомогла клієнту досягти успіху та забезпечити якісний сервіс для своїх клієнтів.",
            btnBlue: "перейти",
            href1: "#",
            btnTransparent: "замовити",
            href2: "#"
        }
    }

mixin oursWorks(site)
    section.main-section-site.main-wrapper
        .main-presentation-block
            h1.header-project #{site.header} 
                span.blue-text #{site.blueText}
            p.text-style #{site.aboutCompany}
            .main-img
                picture
                    img(src=site.img1, alt=site.alt1)
        .main-site-block.d-flex
            .picture-block.d-flex
                picture
                    if site.img2
                        img.presentation-img(src=site.img2, alt=site.alt2)
                picture
                    if site.img3
                        img.presentation-img(src=site.img3, alt=site.alt3)
                picture
                    if site.img4
                        img.presentation-img(src=site.img4, alt=site.alt4)
                picture
                    if site.img5
                        img.presentation-img(src=site.img5, alt=site.alt5)
            .description-block.d-flex
                .description1
                    h2.header-description #{site.headerDescript1}
                    p.descript.text-style #{site.descript1}
                .description2
                    h2.header-description #{site.headerDescript2}
                    p.descript.text-style #{site.descript2}
                .description3
                    h2.header-description #{site.headerDescript3}
                    p.descript.text-style #{site.descript3}
                .cta-block.d-flex
                    a.blue-cta(href=site.href1) #{site.btnBlue}
                    a.empty-cta(href=site.href2) #{site.btnTransparent}
